@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Space Grotesk";
  src: url(../../fonts/SpaceGrotesk-2.0.0/otf/SpaceGrotesk-Bold.otf)
    format("opentype");
}

$font-main: "Inter", sans-serif;
$font-header: "Space Grotesk", sans-serif;
