@use "../../assets/sass/base/typography" as *;
@use "../../assets/sass/abstracts/variables" as *;

.main__card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 10px;
}
