@use "../../assets/sass/base/typography" as *;
@use "../../assets/sass/abstracts/variables" as *;

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  &__label {
    font-size: 1.4rem;
  }

  &__input {
    width: 20px;
    height: 20px;
  }
}
