@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/base/typography" as *;

.card {
  &__link {
    text-decoration: none;
  }
  margin: 20px 5px;
  border-radius: 12px;
  width: 400px;
  height: 470px;
  font-family: $font-main;
  background-color: $color-primary--dark;
  &__front {
    transform: translateY(-8px);
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: $color-white;
    // background: linear-gradient(to bottom, $color-white, #b5e4ec);
    transition: ease 300ms;
    &:hover {
      transform: translateY(-12px);
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  &__image {
    border-radius: 4px;
    padding: 25px;
    align-self: center;
    background: linear-gradient(
      200deg,
      $color-primary--dark,
      $color-primary--dark,
      $color-secondary,
      $color-primary,
      $color-primary--light
    );
    background-size: 400%;
    animation: gradient 5s ease-in-out infinite;
    width: 90%;
    height: 320px;
    object-fit: contain;
  }

  &__text {
    position: relative;
    top: 13px;
    background-color: $color-primary;
    border-radius: 0px 0px 12px 12px;
    width: 100%;
    text-decoration: none;
    color: $color-white;
    height: 80px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__title {
    text-shadow: 3px 3px 6px $color-primary--dark;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__tagline {
    font-size: 1.3rem;
    text-align: justify;
    color: $color-white;
    font-weight: 500;
    text-shadow: 1px 0px 0px $color-primary--dark;
  }
}
