@use "../../assets/sass/abstracts/variables" as *;
@use "../../assets/sass/base/typography" as *;

.card-info {
  height: 100vh;
  font-family: "Inter", sans-serif;
  margin: 15px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__image-container {
    width: 100%;
    height: 550px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 16px 16px 0 0;
  }

  &__nav-arrow {
    z-index: 5;
    align-self: start;
    position: relative;
    top: 35px;
    left: 25px;
    transition: 500ms;
    &--image {
      height: 25px;
    }

    &:hover {
      transform: translateY(-8px);
    }
    @media screen and (min-width: 576px) {
      top: 15px;
      left: 25px;
    }
  }

  &__image {
    border-radius: 8px;
    padding: 25px;
    position: relative;
    top: -10px;
    object-fit: contain;
    background: linear-gradient(
      200deg,
      $color-primary--dark,
      $color-primary--dark,
      $color-secondary,
      $color-primary,
      $color-primary--light
    );
    background-size: 400%;
    animation: gradient 5s ease-in-out infinite;
    width: 100%;
    height: 500px;
    object-fit: contain;
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @media screen and (min-width: 576px) {
      width: 500px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://img.freepik.com/free-photo/original-black-leather-texture-background_24972-1600.jpg");
    color: $color-white;
    width: 100%;
    height: 100px;
    border-radius: 0 0 16px 16px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-shadow: 2px 2px $color-primary;
    font-family: $font-header;
  }

  &__tagline {
    font-weight: 800;
  }

  &__description {
    display: flex;
    justify-content: center;
    margin: 50px 0 25px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 1.1rem;
  }

  &__stats-container {
    margin: 25px auto;
    width: 80%;
    background-color: $color-white;
    border-radius: 16px;
    display: grid;
    grid-template: 1fr / repeat(auto-fill, 80%);
    justify-content: center;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    width: 100%;
    justify-self: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;

    &:nth-child(2) {
      border-top: 2px solid #e0e0d9;
      border-bottom: 2px solid #e0e0d9;
    }
    &--label {
      color: #72726bb0;
    }
  }

  @media screen and (min-width: 767px) {
    &__stats-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100px;
    }

    &__stat {
      height: 70%;
      width: 33%;

      &:nth-child(2) {
        border: 0;
        border-right: 2px solid #e0e0d9;
        border-left: 2px solid #e0e0d9;
      }
    }
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 15px;
    &--title {
      align-self: flex-start;
      font-family: $font-header;
      font-size: 1.5rem;
    }
  }
  &__ingredient {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 35px;
    &--header {
      font-family: $font-header;
      font-size: 1.25rem;
      margin: 25px 0 5px;
      &:nth-child(1) {
        margin: 10px 0 5px;
      }
    }

    &--data {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
    }

    &-item {
      display: flex;
      justify-content: space-between;
    }
  }

  &__food-pairings {
    width: 100%;
    &--header {
      font-family: $font-header;
      font-size: 1.4rem;
      margin: 0px 0 8px;
    }
    &--data {
      margin: 5px 0px 0 35px;
    }
  }

  &__brewers-tips {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary--light;
    align-items: flex-start;
    padding: 15px 50px;
    width: 100%;
    border-radius: 16px;
    &--header {
      font-family: $font-header;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 1048px) {
      max-width: 60%;
    }
  }
}
